<extend name="Public:background" />
<block name="js"></block>
<block name="css"></block>
<block name="content">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="well">
                <table class="table">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>用户名</th>
                        <th>上次登入时间</th>
                        <th>上次登入IP</th>
                        <th>所属用户组</th>
                        <th style="width: 26px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <volist name="user" id="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.username}</td>
                                <td>{$vo.logintime|date='Y-m-d H:i:s',###}</td>
                                <td>{$vo.loginip}</td>
                                <td>{$vo['Role'][0]['name']}</td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Delete Confirmation</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>



        </div>
    </div>
</div>




</body>
</html>

</block>
