<extend name="Public:background" />
<block name="js">
	<script src="__PUBLIC__/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__PUBLIC__/js/base.js" type="text/javascript" charset="utf-8"></script>
	<script src="__PUBLIC__/js/news.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var indexUrl = "{:U('Index/index')}";
		var cid = "{$cid}";

	</script>
	<script src="__PUBLIC__/js/breadcrumb.js" type="text/javascript" charset="UTF-8"></script>

</block>
<block name="css">

	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Home/base.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Home/news.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Home/page.css"/>
	<title>新闻中心</title>
</block>
<block name="content">

<!--海报-->
<div id="myCarousel" class="carousel slide">
	<img src="__PUBLIC__/images/Home/news.png">
</div>


	<!--面包屑导航-->
<nav class="nav_crumbs">
	<div class="container">
		<ul class="nav_crumbs_ul">
			<foreach name="breadcrumb" item="vo">
				<li><a href=""><i class=""></i>{$vo.title}</a></li>
			</foreach>
		</ul>
	</div>
</nav>

<!--新闻内容-->
<div class="news_html">
	<div class="container">
		<div class="base_nav">
			<ul>
				<li <if condition="$cid eq 31">class="base_nav_active"</if> ><a href="{:U('index' ,array('cid' => 31))}">海洋知识</a></li>
				<li <if condition="$cid eq 32">class="base_nav_active"</if> ><a href="{:U('index' ,array('cid' => 32))}">公司新闻</a></li>
				<li <if condition="$cid eq 33">class="base_nav_active"</if> ><a href="{:U('index' ,array('cid' => 33))}">行业动态</a></li>
				<li <if condition="$cid eq 34">class="base_nav_active"</if> ><a href="{:U('index' ,array('cid'=>'34'))}">活动公告</a></li>
			</ul>
		</div>
		
		
		<!--新闻详细内容-->
		<div class="news_html_new">
			<foreach name="result" item="vo">
			<ul>
				<li>
					<a href="{:U('showNews', array('id' => $vo['id'] , 'cid' => $vo['cid']))}">
						<div class="news_html_new_left">
							<img src="__ROOT__/Uploads/Face/{$vo.max}" alt="" />
						</div>
						
						<div class="news_html_new_right">
							<h4 class="h4">{$vo.title}</h4>
							<small>{$vo.addtime|date='Y-m-d H:i:s',###}</small>
							<p>{$vo.brief}</p>
						</div>
					</a>
				</li>
			</ul>
			</foreach>
		</div>
		<!--旧的新闻排版-->
		<!--<div class="news_html_new">
			<ul class="time_shaft">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			
			
			<ul>
				<li>
					<div class="pull-left">
						<a href="">
							<div class="news_html_new_left">
								<i></i>
								<div class="news_html_new_time">
									<p>08-06</p>
									<span>2017</span>
								</div>
								<div class="news_html_new_con">
									<p>我司与国家级技术中心顺利完成合作布放浮标浮标浮标</p>
									<span>我司与国家级技术中心顺利完成合作布放浮标</span>
								</div>
							</div>
						</a>
						<img src="images/news_html1.jpg" alt="" />
					</div>
				</li>
				<li>
					<div class="pull-right">
						<a href="">
							<div class="news_html_new_right">
								<i></i>
								<div class="news_html_new_time">
									<p>08-06</p>
									<span>2017</span>
								</div>
								<div class="news_html_new_con">
									<p>我司与国家级技术中心顺利完成合作布放浮标</p>
									<span>我司与国家级技术中心顺利完成合作布放浮标</span>
								</div>
							</div>
						</a>
						<img src="images/news_html1.jpg" alt="" />
					</div>
				</li>
				<li>
					<div class="pull-left">
						<a href="">
							<div class="news_html_new_left">
								<i></i>
								<div class="news_html_new_time">
									<p>08-06</p>
									<span>2017</span>
								</div>
								<div class="news_html_new_con">
									<p>我司与国家级技术中心顺利完成合作布放浮标</p>
									<span>我司与国家级技术中心顺利完成合作布放浮标</span>
								</div>
							</div>
						</a>
						<img src="images/news_html1.jpg" alt="" />
					</div>
				</li>
				<li>
					<div class="pull-right">
						<a href="">
							<div class="news_html_new_right">
								<i></i>
								<div class="news_html_new_time">
									<p>08-06</p>
									<span>2017</span>
								</div>
								<div class="news_html_new_con">
									<p>我司与国家级技术中心顺利完成合作布放浮标</p>
									<span>我司与国家级技术中心顺利完成合作布放浮标</span>
								</div>
							</div>
						</a>
						<img src="images/news_html1.jpg" alt="" />
					</div>
				</li>
			</ul>
			
		</div>-->
	</div>
</div>

<!--分页-->
<div class="pages">
			<li>{$show}</li>

</div>


<!--底部三色条-->
<ul class="footer_logo_color">
	<li></li>
	<li></li>
	<li></li>
</ul>



</body>
</html>
</block>