<extend name="Public:background" />
<block name="js">
	<script src="__PUBLIC__/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__PUBLIC__js/base.js" type="text/javascript" charset="utf-8"></script>
	<script>
        var indexUrl = "{:U('Index/index')}";

	</script>
	<script src="__PUBLIC__/js/breadcrumb.js" type="text/javascript" charset="UTF-8"></script>

</block>
<block name="css">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Home/base.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Home/news.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Home/news_con.css"/>
	<title>新闻详细</title>
	<title>新闻中心</title>
</block>
<block name="content">

<!--海报-->
<div id="myCarousel" class="carousel slide">
	<img src="__PUBLIC__/images/Home/news.png">
</div>

<!--面包屑导航-->
<nav class="nav_crumbs">
	<div class="container">
		<ul class="nav_crumbs_ul">
			<foreach name="breadcrumb" item="vo">
				<li><a href=""><i class=""></i>{$vo.title}</a></li>
			</foreach>
		</ul>
	</div>
</nav>


<!--新闻详细内容-->
<div class="news_html news_con_html">
	<div class="container">
		<div class="base_nav">
			<ul>
				<li <if condition="$cid eq 31">class="base_nav_active"</if> ><a href="{:U('News/index' ,array('cid' => 31))}">海洋知识</a></li>
				<li <if condition="$cid eq 32">class="base_nav_active"</if> ><a href="{:U('News/index' ,array('cid' => 32))}">公司新闻</a></li>
				<li <if condition="$cid eq 33">class="base_nav_active"</if> ><a href="{:U('News/index' ,array('cid' => 33))}">行业动态</a></li>
				<li <if condition="$cid eq 34">class="base_nav_active"</if> ><a href="{:U('News/index' ,array('cid'=>'34'))}">活动公告</a></li>
			</ul>
		</div>
		
		<div class="news_con_html_con">
			<h4 class="h4">{$info.title}</h4>
			<i class="active_this set_width"></i>
			<small class="small">作者：{$info.author}   来源：广东海启星海洋科技有限公司   日期：{$info.addtime|date='Y-m-d H:i:s',###}</small>
			<div class="news_con_html_essay">
				<p>{$info.content|htmlspecialchars_decode}</p>
			</div>
		</div>
	</div>
</div>




<!--底部三色条-->
<ul class="footer_logo_color">
	<li></li>
	<li></li>
	<li></li>
</ul>

</body>
</html>
</block>