.about_html{
	width: 100%;
	height: 480px;
	margin-top: 156px;
	margin-bottom: 130px;
}
.about_html>div{
	position: relative;
}
.about_html .container>div{
	overflow: hidden;
}
.about_html img{
	width: 100%;
}
.about_html_left{
	width: 570px;
	height: 476px;
	position: absolute;
	left: 0;
	top: 0;
}
.about_html_left_con_txt{
	width: 570px;
	height: 476px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	padding-top: 210px;
	color: #fff;
}
.about_html_left_con{
	width: 570px;
	height: 476px;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.7;
}
.about_html_intro{
	width: 342px;
	height: 292px;
	background-color: #28bfeb;
	position: absolute;
	left: 542px;
	top: -25px;
}
.about_html_intro p{
	width: 274px;
	height: 110px;
	line-height: 22px;
	color: #fff;
	font-size: 13px;
	margin: 20px 0 0 36px;
}
.about_html_attestation{
	width: 288px;
	height: 238px;
	position: absolute;
	top: 238px;
	left: 570px;
}
.about_html_talents{
	width: 288px;
	height: 238px;
	position: absolute;
	top: 0;
	left: 858px;
}
.about_html_service{
	width: 288px;
	height: 238px;
	position: absolute;
	left: 858px;
	top: 238px;
}
.about_html_intro img{
	width: 60px;
	margin: 75px 0 0 36px;
	
}

.about_html_attestation_con{
	width: 288px;
	height: 238px;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.7;
}
.about_html_attestation_con_txt{
	width: 288px;
	height: 238px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	padding-top: 110px;
	color: #fff;
}
.about_html h3{
	font-size: 20px;
	color: #28BFEB;
	margin-bottom: 6px;
}
.about_html_show{
	display: none;
}






















