.five{
	width: 100%;
}
.five_top li{
	float: left;
	width: 20%;
	text-align: center;
	margin-top: 64px;
	margin-bottom: 62px;
}
.five_top li a{
	color: #8E8E8E;
	display: inline-block;
	width: 69px;
	height: 76px;
	font-size: 16px;
	padding-top: 104px;
	background: url(../../images/Home/icon_five1.png) no-repeat 0 -145px;
}
.five_top li a:hover{
	color: #00b9ef;
}
.five_top li:nth-child(1) a{
	background-position-x: -138px;
}
.five_top li:nth-child(2) a{
	background-position-x: 0px;
}
.five_top li:nth-child(3) a{
	background-position-x: -69px;
}
.five_top li:nth-child(4) a{
	background-position-x: -207px;
}
.five_top li:nth-child(5) a{
	background-position-x: -276px;
}
.five_top li a:hover{
	background-position-y: 0;
}

.five_bottom{
	width: 100%;
	height: 0px;
	background-color: #00b9ef;
	display: block;
}
.five_bottom span{
	margin-top: 62px;
	line-height: 24px;
	font-weight: 550;
	color: #fff;
	display: none;
}


/*轮播图固定底部
.carousel_slide_bottom{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}*/








/*新闻版块*/
.news{
	width: 100%;
	height: 540px;
	background: url(../../images/Home/index_new.png) no-repeat left bottom;
	background-color: #f6f6f6;
}
.news .news_left{
	margin-top: 64px;
	float: left;
}

.news .news_left .news_left_con{
	width: 714px;
	height: 258px;
	position: relative;
	display: none;
}
.news .news_left .news_left_con1{
	display: block
}
.news .news_left .news_left_img{
	width: 216px;
	height: 216px;
	position: absolute;
	top: 0px;
	left: 32px;
}
.news .news_left .news_left_text{
	width: 714px;
	height: 166px;
	position: absolute;
	top: 88px;
	left: 0px;
	background-color: #b4b4b4;
}
.news .news_left .news_left_text p{
	text-indent:2em;
	margin: 40px 0 0 280px;
	width: 406px;
	height: 90px;
	color: #fff;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}



.news .news_right{
	float: right;
	margin-top: 248px;
	width: 388px;
	height: 170px;
	overflow: hidden;
	position: relative;
}
.news .news_right ul{
	position: absolute;
	top: 0;
	left: 0;
}
.news .news_right li{
	width: 380px;
	height: 36px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 38px;
	padding: 0 26px;
}

.news .news_right .op5{
	opacity: 0.5;
}

.news .news_right .op8{
	opacity: 0.8;
}
.news .news_right .op1{
	background-color: #00b9ef;
	color: #fff;
}
.news .op1 a{
	color: #fff;
}











.about{
	width: 100%;
	height: 666px;
	background: url(../../images/Home/index_intro_bg.png) no-repeat;
}
.about .about_con{
	width: 100%;
	height: 494px;
	margin-top: 64px;
}
.about .about_con_left{
	width: 538px;
	height: 386px;
	float: left;
	position: relative;
}
.about .about_con_right{
	width: 572px;
	height: 386px;
	float: right;
}
.about .about_square1{
	width: 88px;
	height: 82px;
	background-color: #cacaca;
	position: absolute;
	top: 0;
	left: 32px;
}
.about .about_square2{
	width: 150px;
	height: 152px;
	background-color: #cacaca;
	display: inline-block;
	position: absolute;
	left: 388px;
	top: 234px;
}
.about .about_con_img{
	width: 515px;
	height: 340px;
	position: absolute;
	left: -4px;
	top: 24px;
}

.about .about_con_left h4{
	font-size: 30px;
	color: #7b7b7b;
	position: absolute;
	left: 0;
	top: 228px;
}
.about_con_text{
	width: 500px;
	float: left;
}
.about>.container{
	position: relative;
}
.about ul{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 4px;
	height: 387px;
	background-color: #cacaca;
}
.about_con_right ul li{
	height: 33%;
}
.about_con_text h3{
	line-height: 78px;
	margin-top: 24px;
	font-size: 18px;
	color: #00b9ef;
}
.about_con_text p{
	line-height: 26px;
}
.about .about_nav{
	width: 4px;
	height: 129px;
	background-color: #00b9ef;
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 258px;
}

.about .about_con_stria{
	width: 18px;
	height: 120px;
	position: absolute;
	right: 6px;
	top: 320px;
	background-color: transparent;
}
.about .about_con_stria li{
	width: 16px;
	height: 16px;
	position: absolute;
}
.about .about_con_stria li:nth-child(1){
	right: 0;
	top: -14px;
	border-radius: 50%;
	border: 2px solid #00b9ef;
	z-index: 99;
	cursor: pointer;
}
.about .about_con_stria li:nth-child(2){
	right: 0;
	top: 118px;
	border-radius: 50%;
	border: 2px solid #e7e7e7;
	cursor: pointer;
	z-index: 99;
}
.about .about_con_stria li:nth-child(3){
	width: 1px;
	height: 120px;
	background-color: #e7e7e7;
	right: 7px;
	top: 0;
}



.partner{
	width: 100%;
	height: 336px;
	padding-top: 64px;
	background-color: #f6f6f6;
}

.partner_con span{
	width: 42px;
	height: 42px;
	border-radius: 50%;
	padding: 14px 0 0 14px;
	color: #8E8E8E;
	margin-top: 26px;
}
.partner_con span:hover{
	background-color: #00bbee;
	color: #fff;
	cursor: pointer;
}
.partner_con{
	height: 90px;
	line-height: 90px;
}

.partner_con_wrapimg{
	width: 900px;
	height: 90px;
	float: left;
	margin-left: 70px;
	overflow: hidden;
	position: relative;
}
.partner_con_img{
	width: 2700px;
	position: absolute;
	left: 0;
	top: 0;
}
.partner_con_left{
	float: left;
}
.partner_con_right{
	float: right;
}







